<!--https://www.jerriepelser.com/blog/approaches-when-rendering-list-using-bootstrap-grid-system/-->


@model IPagedList<WebApplication3.Models.Product>
@{
    ViewBag.Title = "Products";
    int counter = 0;
}
@using X.PagedList;
@using X.PagedList.Mvc.Core;
<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="row">
    @foreach (var item in ViewBag.OnePageOfProducts)
    {
        if (counter != 0 && counter % 3 == 0)
        {
        @:</div>
        @:<div class="row">
        }

        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://www.food.com">
                    <img src="file:///C:/Pictures/TV.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                </a>
                <div class="caption">
                    <!--<h3 id="thumbnail-label">@item.ProductName</h3>-->
                    <p>@item.ProductName</p>
                </div>
            </div>
        </div>

        counter++;
    }
</div>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))