
@model IPagedList<ElectronicsStore.Models.Product>
@{
    ViewBag.Title = "Products";
    int counter = 0;
}
@using X.PagedList;
@using X.PagedList.Mvc.Core;


<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Start Bootstrap
            </a>
        </li>

        @foreach (ProductCategory productcategory in ViewBag.ProductCategoryList)
        {
            <li>
                @productcategory.ProductCategoryName
            </li>

        }
    </ul>
</div>
<!-- /#sidebar-wrapper -->
<table class="table">
    <thead>
        <tr>
            <th class="col3">
                @*@Html.DisplayNameFor(model => model.FirstOrDefault().ProductName)*@
            </th>
            <th class="col4">
                @*@Html.DisplayNameFor(model => model.FirstOrDefault().ProductDescription)*@
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in ViewBag.OnePageOfProducts)
        {
            <tr>
                <td class="col3">

                    <a href='@Url.Action("Details","Products" , new { id=item.ProductId })'>
                        <img src="~/images/@(item.ImageLocation)" data-holder-rendered="true">
                    </a>
                    <div class="caption">

                </td>
                @*<td class="col3">
                        <img src="~/images/@(item.ImageLocation)" data-holder-rendered="true" />

                    </td>*@
                <td class="col4">

                    <br />
                    @item.ProductName

                </td>
            </tr>
        }
    </tbody>
</table>



@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))